.footer {
  border-top: .5rem solid #F90;
  background-color: var(--green);
  &-content {
  }

  &-copyright {
    background-color: #5E9424;
  }

  .header {
    color: var(--Reading-Pure-White, #FEFEFE);
    font-family: Archivo;
    font-size: 1.75rem;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
  }

  .body {
    color: var(--Reading-Pure-White, #FEFEFE);
    font-family: Archivo;
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 400;
    line-height: 170%; /* 2.3375rem */
  }

  .copy, .compatibility {
    color: var(--Reading-Pure-White, #FEFEFE);
    font-family: Lato;
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 400;
    line-height: 170%; /* 2.3375rem */
  }
}
