<div class="page-section container flex flex-col gap-10 animate-fade-in">
  <div class="title text-[#3C5185] text-lato font-bold text-5xl">Atención a empresas</div>
  <div class="text-archivo text-[#3C5185] text-lg font-bold text-blue">Venado Rent a Car ofrece a las empresas la posibilidad de alquilar vehículos en forma diaria, semanal, mensual o anual a precios muy competitivos.</div>
  <div class="text-archivo text-base text-[#6F6D71]">Su empresa puede optar por la tercerización de su flota de vehículos en forma total o parcial, lo cual le generará importantes beneficios tanto económicos como fiscales.</div>
  <div class="text-archivo text-[#6F6D71] text-base">
    <ul class="list-disc ml-4">
      <li><strong>Descuentos</strong> a partir del segundo alquiler consecutivo.</li>
      <li><strong>Atención</strong> personalizada y gratuita las <strong>24 hs.</strong></li>
      <li><strong>Apertura Cuenta Corriente</strong> - Se otorga además, la posibilidad de pagar con un plazo a días de fecha de factura y la facturación centralizada de todos sus alquileres.</li>
      <li>Eliminación de activos inmovilizados.</li>
      <li>Aptitud para la capacidad crediticia.</li>
    </ul>
  </div>
  <div class="text-archivo text-[#6F6D71] text-base">
    <ul class="list-disc ml-4">
      <li><strong>Descuentos impositivos (IVA).</strong></li>
      <li><strong>Chequeos mecánicos programados</strong> a los vehículos afectados para garantizar su mejor rendimiento.</li>
      <li><strong>Diseñar y programar</strong> contratos a medida de la empresa, para satisfacer sus necesidades.</li>
      <li><strong>Conductor adicional</strong> sin cargo.</li>
      <li>Contacto <strong>on-line.</strong></li>
    </ul>
  </div>
</div>
