<div class="page-section flota">
  <div class="container">
    <div class="flex gap-3">
      <div class="w-2 rounded-xl bg-[#F90]"></div>
      <div class="title text-5xl">Nuestra Flota</div>
    </div>
    <div class="mt-11">
      <search-box />
    </div>
    <div class="mt-11 grid gap-x-8 gap-y-14 grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4">
      <vehicle-card />
      <vehicle-card />
      <vehicle-card />
      <vehicle-card />
      <vehicle-card />
      <vehicle-card />
    </div>
  </div>
</div>
