<div class="header flex justify-around items-center">
  <div class="header__vehicle w-2/5">
    <vehicle-header />
  </div>
  <div class="header__text flex flex-col w-2/6 gap-8">
    <div class="title w-fit">
      El interior <strong>en marcha</strong>
    </div>
    <div class="text">
      Find the cheapest prices online, for your future Car Lease in 4 quick easy steps.
    </div>
    <div class="buttons w-fit flex gap-6">
      <button class="btn-alquila hover:brightness-80">Alquilá ahora</button>
      <button class="btn-contactanos hover:opacity-80">Contactanos</button>
    </div>
  </div>
</div>
